body {
  font-family: 'Lucida Console', monospace;
  padding-bottom: 60px;
}

img.were_all_ok {
  width: 100%;
  max-width: 500px;
}

.adjustments_for_your_reading_pleasure {
  max-width: 100%;
  margin: auto;
  text-align: center;
  position:relative;
  display:block;

}
