body {
  font-family: 'Lucida Console', monospace;
  padding-bottom: 60px;
}

img.were_all_ok {
  width: 100%;
  max-width: 500px;
}

.lets_get_ugly_with_header {
  max-width: 680px;
  margin: auto;
  text-align: center;
  position:relative;
  display:block;
}

.spec {
  color: #999; /*the number of the beast upside down*/
}

.adjustments_for_your_reading_pleasure {
  max-width: 680px;
  margin: auto;
  position:relative;
  display:block; 
}

.face {
  line-height:18px; 
  font-size: 14px; 
  letter-spacing:-1px; 
  font-weight:bold;
}

.name {
  line-height:18px; 
  font-size: 7px; 
  letter-spacing:-1px;
}

@media screen and (min-width: 680px) {

  .face {
    font-size: 18px;
  }

  .name {
    font-size: 12px
  }

}